<div class="entries">

    <article class="col-block">

        <div class="item-entry" data-aos="zoom-in">
            <div class="item-entry__thumb">
                <a href="single-standard.html" class="item-entry__thumb-link">
                    <img src="{{ url_for('static', filename='images/thumbs/post/lamp-400.jpg.webp') }}"
                         srcset="{{ url_for('static', filename='images/thumbs/post/lamp-400.jpg.webp') }} 1x, {{ url_for('static', filename='images/thumbs/post/lamp-800.jpg.webp') }} 2x" alt="">
                </a>
            </div>

            <div class="item-entry__text">
                <div class="item-entry__cat">
                    <a href="{{ url_for('category') }}">Design</a>
                </div>

                <h1 class="item-entry__title"><a href="single-standard.html">3 Benefits of Minimalism In Interior Design.</a></h1>

                <div class="item-entry__date">
                    <a href="single-standard.html">June 15, 2018</a>
                </div>
            </div>
        </div> <!-- item-entry -->

    </article> <!-- end article -->

    <article class="col-block">

        <div class="item-entry" data-aos="zoom-in">
            <div class="item-entry__thumb">
                <a href="single-standard.html" class="item-entry__thumb-link">
                    <img src="{{ url_for('static', filename='images/thumbs/post/tulips-400.jpg.webp') }}"
                         srcset="{{ url_for('static', filename='images/thumbs/post/tulips-400.jpg.webp') }} 1x, {{ url_for('static', filename='images/thumbs/post/tulips-800.jpg.webp') }} 2x" alt="">
                </a>
            </div>

            <div class="item-entry__text">
                <div class="item-entry__cat">
                    <a href="{{ url_for('category') }}">Health</a>
                </div>

                <h1 class="item-entry__title"><a href="single-standard.html">10 Interesting Facts About Caffeine.</a></h1>

                <div class="item-entry__date">
                    <a href="single-standard.html">June 14, 2018</a>
                </div>
            </div>
        </div> <!-- item-entry -->

    </article> <!-- end article -->

    <article class="col-block">

        <div class="item-entry" data-aos="zoom-in">
            <div class="item-entry__thumb">
                <a href="single-standard.html" class="item-entry__thumb-link">
                    <img src="{{ url_for('static', filename='images/thumbs/post/music-400.jpg.webp') }}"
                         srcset="{{ url_for('static', filename='images/thumbs/post/music-400.jpg.webp') }} 1x, {{ url_for('static', filename='images/thumbs/post/music-800.jpg.webp') }} 2x" alt="">
                </a>
            </div>

            <div class="item-entry__text">
                <div class="item-entry__cat">
                    <a href="{{ url_for('category') }}">Health</a>
                </div>

                <h1 class="item-entry__title"><a href="single-standard.html">The Power of Music to Reduce Stress.</a></h1>

                <div class="item-entry__date">
                    <a href="single-standard.html">June 14, 2018</a>
                </div>
            </div>
        </div> <!-- item-entry -->

    </article> <!-- end article -->

    <article class="col-block">

        <div class="item-entry" data-aos="zoom-in">
            <div class="item-entry__thumb">
                <a href="single-standard.html" class="item-entry__thumb-link">
                    <img src="{{ url_for('static', filename='images/thumbs/post/watch-400.jpg.webp') }}"
                         srcset="{{ url_for('static', filename='images/thumbs/post/watch-400.jpg.webp') }} 1x, {{ url_for('static', filename='images/thumbs/post/watch-800.jpg.webp') }} 2x" alt="">
                </a>
            </div>

            <div class="item-entry__text">
                <div class="item-entry__cat">
                    <a href="{{ url_for('category') }}">Management</a>
                </div>

                <h1 class="item-entry__title"><a href="single-standard.html">The Pomodoro Technique Really Works.</a></h1>

                <div class="item-entry__date">
                    <a href="single-standard.html">June 12, 2018</a>
                </div>
            </div>
        </div> <!-- item-entry -->

    </article> <!-- end article -->

    <article class="col-block">

        <div class="item-entry" data-aos="zoom-in">
            <div class="item-entry__thumb">
                <a href="single-standard.html" class="item-entry__thumb-link">
                    <img src="{{ url_for('static', filename='images/thumbs/post/wheel-400.jpg.webp') }}"
                         srcset="{{ url_for('static', filename='images/thumbs/post/wheel-400.jpg.webp') }} 1x, {{ url_for('static', filename='images/thumbs/post/wheel-800.jpg.webp') }} 2x" alt="">
                </a>
            </div>

            <div class="item-entry__text">
                <div class="item-entry__cat">
                    <a href="{{ url_for('category') }}">Lifestyle</a>
                </div>

                <h1 class="item-entry__title"><a href="single-standard.html">Visiting Theme Parks Improves Your Health.</a></h1>

                <div class="item-entry__date">
                    <a href="single-standard.html">June 12, 2017</a>
                </div>
            </div>
        </div> <!-- item-entry -->

    </article> <!-- end article -->

    <article class="col-block">

        <div class="item-entry" data-aos="zoom-in">
            <div class="item-entry__thumb">
                <a href="single-standard.html" class="item-entry__thumb-link">
                    <img src="{{ url_for('static', filename='images/thumbs/post/guitarist-400.jpg.webp') }}"
                         srcset="{{ url_for('static', filename='images/thumbs/post/guitarist-400.jpg.webp') }} 1x, {{ url_for('static', filename='images/thumbs/post/guitarist-800.jpg.webp') }} 2x" alt="">
                </a>
            </div>

            <div class="item-entry__text">
                <div class="item-entry__cat">
                    <a href="{{ url_for('category') }}">Music</a>
                </div>

                <h1 class="item-entry__title"><a href="single-standard.html">What Your Music Preference Says About You and Your Personality.</a></h1>

                <div class="item-entry__date">
                    <a href="single-standard.html">June 02, 2018</a>
                </div>
            </div>
        </div> <!-- item-entry -->

    </article> <!-- end article -->

    <article class="col-block">

        <div class="item-entry" data-aos="zoom-in">
            <div class="item-entry__thumb">
                <a href="single-standard.html" class="item-entry__thumb-link">
                    <img src="{{ url_for('static', filename='images/thumbs/post/jump-400.jpg.webp') }}"
                         srcset="{{ url_for('static', filename='images/thumbs/post/jump-400.jpg.webp') }} 1x, {{ url_for('static', filename='images/thumbs/post/jump-800.jpg.webp') }} 2x" alt="">
                </a>
            </div>

            <div class="item-entry__text">
                <div class="item-entry__cat">
                    <a href="{{ url_for('category') }}">Relationships</a>
                </div>

                <h1 class="item-entry__title"><a href="single-standard.html">Create Meaningful Family Moments.</a></h1>

                <div class="item-entry__date">
                    <a href="single-standard.html">June 02, 2018</a>
                </div>
            </div>
        </div> <!-- item-entry -->

    </article> <!-- end article -->

    <article class="col-block">

        <div class="item-entry" data-aos="zoom-in">
            <div class="item-entry__thumb">
                <a href="single-standard.html" class="item-entry__thumb-link">
                    <img src="{{ url_for('static', filename='images/thumbs/post/flowers-400.jpg.webp') }}"
                         srcset="{{ url_for('static', filename='images/thumbs/post/flowers-400.jpg.webp') }} 1x, {{ url_for('static', filename='images/thumbs/post/flowers-800.jpg.webp') }} 2x" alt="">
                </a>
            </div>

            <div class="item-entry__text">
                <div class="item-entry__cat">
                    <a href="{{ url_for('category') }}">Lifestyle</a>
                </div>

                <h1 class="item-entry__title"><a href="single-standard.html">Gardening: The Secret to Happiness.</a></h1>

                <div class="item-entry__date">
                    <a href="single-standard.html">June 01, 2018</a>
                </div>
            </div>
        </div> <!-- item-entry -->

    </article> <!-- end article -->

    <article class="col-block">

        <div class="item-entry" data-aos="zoom-in">
            <div class="item-entry__thumb">
                <a href="single-standard.html" class="item-entry__thumb-link">
                    <img src="{{ url_for('static', filename='images/thumbs/post/woodcraft-400.jpg.webp') }}"
                         srcset="{{ url_for('static', filename='images/thumbs/post/woodcraft-400.jpg.webp') }} 1x, {{ url_for('static', filename='images/thumbs/post/woodcraft-800.jpg.webp') }} 2x" alt="">
                </a>
            </div>

            <div class="item-entry__text">
                <div class="item-entry__cat">
                    <a href="{{ url_for('category') }}">Creativity</a>
                </div>

                <h1 class="item-entry__title"><a href="single-standard.html">An Examination of Minimalistic Design.</a></h1>

                <div class="item-entry__date">
                    <a href="single-standard.html">May 30, 2018</a>
                </div>
            </div>
        </div> <!-- item-entry -->

    </article> <!-- end article -->

    <article class="col-block">

        <div class="item-entry" data-aos="zoom-in">
            <div class="item-entry__thumb">
                <a href="single-standard.html" class="item-entry__thumb-link">
                    <img src="{{ url_for('static', filename='images/thumbs/post/fuji-400.jpg.webp') }}"
                         srcset="{{ url_for('static', filename='images/thumbs/post/fuji-400.jpg.webp') }} 1x, {{ url_for('static', filename='images/thumbs/post/fuji-800.jpg.webp') }} 2x" alt="">
                </a>
            </div>

            <div class="item-entry__text">
                <div class="item-entry__cat">
                    <a href="{{ url_for('category') }}">Creativity</a>
                </div>

                <h1 class="item-entry__title"><a href="single-standard.html">What Skills Are Required For a Photographer?</a></h1>

                <div class="item-entry__date">
                    <a href="single-standard.html">May 30, 2018</a>
                </div>
            </div>
        </div> <!-- item-entry -->

    </article> <!-- end article -->

    <article class="col-block">

        <div class="item-entry" data-aos="zoom-in">
            <div class="item-entry__thumb">
                <a href="single-standard.html" class="item-entry__thumb-link">
                    <img src="{{ url_for('static', filename='images/thumbs/post/beetle-400.jpg.webp') }}"
                         srcset="{{ url_for('static', filename='images/thumbs/post/beetle-400.jpg.webp') }} 1x, {{ url_for('static', filename='images/thumbs/post/beetle-800.jpg.webp') }} 2x" alt="">
                </a>
            </div>

            <div class="item-entry__text">
                <div class="item-entry__cat">
                    <a href="{{ url_for('category') }}">Lifestyle</a>
                </div>

                <h1 class="item-entry__title"><a href="single-standard.html">Throwback To The Good Old Days.</a></h1>

                <div class="item-entry__date">
                    <a href="single-standard.html">May 28, 2018</a>
                </div>
            </div>
        </div> <!-- item-entry -->

    </article> <!-- end article -->

    <article class="col-block">

        <div class="item-entry" data-aos="zoom-in">
            <div class="item-entry__thumb">
                <a href="single-standard.html" class="item-entry__thumb-link">
                    <img src="{{ url_for('static', filename='images/thumbs/post/sydney-400.jpg.webp') }}"
                         srcset="{{ url_for('static', filename='images/thumbs/post/sydney-400.jpg.webp') }} 1x, {{ url_for('static', filename='images/thumbs/post/sydney-800.jpg.webp') }} 2x" alt="">
                </a>
            </div>

            <div class="item-entry__text">
                <div class="item-entry__cat">
                    <a href="{{ url_for('category') }}">Travel</a>
                </div>

                <h1 class="item-entry__title"><a href="single-standard.html">Planning Your First Trip To Sydney.</a></h1>

                <div class="item-entry__date">
                    <a href="single-standard.html">May 28, 2018</a>
                </div>
            </div>
        </div> <!-- item-entry -->

    </article> <!-- end article -->

</div> <!-- end entries -->
