<div class="entries">
    {% for post in posts %}

    <article class="col-block">

        <div class="item-entry" data-aos="zoom-in">
            <div class="item-entry__thumb">
                <a href="{{ url_for('single_standard_post', post_id=post.post_id) }}" class="item-entry__thumb-link">
                    <img src="{{ post.image_url }}"
                         srcset="{{ post.image_url }} 1x,
                                 {{ post.image_url }} 2x" alt="">
                </a>
            </div>

            <div class="item-entry__text">
                <div class="item-entry__cat">
                    <a href="{{ url_for('category') }}">Python</a>
                </div>

                <h1 class="item-entry__title"><a href="{{ url_for('single_standard_post', post_id=post.post_id) }}">{{ post.title }}</a></h1>

                <div class="item-entry__date">
                    <a href="{{ url_for('single_standard_post', post_id=post.post_id) }}">June 15, 2018</a>
                </div>
            </div>
        </div> <!-- item-entry -->

    </article> <!-- end article -->

    {% endfor %}:
{#    <article class="col-block">

        <div class="item-entry" data-aos="zoom-in">
            <div class="item-entry__thumb">
                <a href="{{ url_for('single_standard_post') }}" class="item-entry__thumb-link">
                    <img src="{{ url_for('static', filename='images/thumbs/post/tulips-400.jpg.webp') }}"
                         srcset="{{ url_for('static', filename='images/thumbs/post/tulips-400.jpg.webp') }} 1x, {{ url_for('static', filename='images/thumbs/post/tulips-800.jpg.webp') }} 2x" alt="">
                </a>
            </div>

            <div class="item-entry__text">
                <div class="item-entry__cat">
                    <a href="{{ url_for('category') }}">Health</a>
                </div>

                <h1 class="item-entry__title"><a href="{{ url_for('single_standard_post') }}">10 Interesting Facts About Caffeine.</a></h1>

                <div class="item-entry__date">
                    <a href="{{ url_for('single_standard_post') }}">June 14, 2018</a>
                </div>
            </div>
        </div> <!-- item-entry -->

    </article> <!-- end article -->

    <article class="col-block">

        <div class="item-entry" data-aos="zoom-in">
            <div class="item-entry__thumb">
                <a href="{{ url_for('single_standard_post') }}" class="item-entry__thumb-link">
                    <img src="{{ url_for('static', filename='images/thumbs/post/music-400.jpg.webp') }}"
                         srcset="{{ url_for('static', filename='images/thumbs/post/music-400.jpg.webp') }} 1x, {{ url_for('static', filename='images/thumbs/post/music-800.jpg.webp') }} 2x" alt="">
                </a>
            </div>

            <div class="item-entry__text">
                <div class="item-entry__cat">
                    <a href="{{ url_for('category') }}">Health</a>
                </div>

                <h1 class="item-entry__title"><a href="{{ url_for('single_standard_post') }}">The Power of Music to Reduce Stress.</a></h1>

                <div class="item-entry__date">
                    <a href="{{ url_for('single_standard_post') }}">June 14, 2018</a>
                </div>
            </div>
        </div> <!-- item-entry -->

    </article> <!-- end article -->

    <article class="col-block">

        <div class="item-entry" data-aos="zoom-in">
            <div class="item-entry__thumb">
                <a href="{{ url_for('single_standard_post') }}" class="item-entry__thumb-link">
                    <img src="{{ url_for('static', filename='images/thumbs/post/watch-400.jpg.webp') }}"
                         srcset="{{ url_for('static', filename='images/thumbs/post/watch-400.jpg.webp') }} 1x, {{ url_for('static', filename='images/thumbs/post/watch-800.jpg.webp') }} 2x" alt="">
                </a>
            </div>

            <div class="item-entry__text">
                <div class="item-entry__cat">
                    <a href="{{ url_for('category') }}">Management</a>
                </div>

                <h1 class="item-entry__title"><a href="{{ url_for('single_standard_post') }}">The Pomodoro Technique Really Works.</a></h1>

                <div class="item-entry__date">
                    <a href="{{ url_for('single_standard_post') }}">June 12, 2018</a>
                </div>
            </div>
        </div> <!-- item-entry -->

    </article> <!-- end article -->

    <article class="col-block">

        <div class="item-entry" data-aos="zoom-in">
            <div class="item-entry__thumb">
                <a href="{{ url_for('single_standard_post') }}" class="item-entry__thumb-link">
                    <img src="{{ url_for('static', filename='images/thumbs/post/wheel-400.jpg.webp') }}"
                         srcset="{{ url_for('static', filename='images/thumbs/post/wheel-400.jpg.webp') }} 1x, {{ url_for('static', filename='images/thumbs/post/wheel-800.jpg.webp') }} 2x" alt="">
                </a>
            </div>

            <div class="item-entry__text">
                <div class="item-entry__cat">
                    <a href="{{ url_for('category') }}">Lifestyle</a>
                </div>

                <h1 class="item-entry__title"><a href="{{ url_for('single_standard_post') }}">Visiting Theme Parks Improves Your Health.</a></h1>

                <div class="item-entry__date">
                    <a href="{{ url_for('single_standard_post') }}">June 12, 2017</a>
                </div>
            </div>
        </div> <!-- item-entry -->

    </article> <!-- end article -->

    <article class="col-block">

        <div class="item-entry" data-aos="zoom-in">
            <div class="item-entry__thumb">
                <a href="{{ url_for('single_standard_post') }}" class="item-entry__thumb-link">
                    <img src="{{ url_for('static', filename='images/thumbs/post/guitarist-400.jpg.webp') }}"
                         srcset="{{ url_for('static', filename='images/thumbs/post/guitarist-400.jpg.webp') }} 1x, {{ url_for('static', filename='images/thumbs/post/guitarist-800.jpg.webp') }} 2x" alt="">
                </a>
            </div>

            <div class="item-entry__text">
                <div class="item-entry__cat">
                    <a href="{{ url_for('category') }}">Music</a>
                </div>

                <h1 class="item-entry__title"><a href="{{ url_for('single_standard_post') }}">What Your Music Preference Says About You and Your Personality.</a></h1>

                <div class="item-entry__date">
                    <a href="{{ url_for('single_standard_post') }}">June 02, 2018</a>
                </div>
            </div>
        </div> <!-- item-entry -->

    </article> <!-- end article -->

    <article class="col-block">

        <div class="item-entry" data-aos="zoom-in">
            <div class="item-entry__thumb">
                <a href="{{ url_for('single_standard_post') }}" class="item-entry__thumb-link">
                    <img src="{{ url_for('static', filename='images/thumbs/post/jump-400.jpg.webp') }}"
                         srcset="{{ url_for('static', filename='images/thumbs/post/jump-400.jpg.webp') }} 1x, {{ url_for('static', filename='images/thumbs/post/jump-800.jpg.webp') }} 2x" alt="">
                </a>
            </div>

            <div class="item-entry__text">
                <div class="item-entry__cat">
                    <a href="{{ url_for('category') }}">Relationships</a>
                </div>

                <h1 class="item-entry__title"><a href="{{ url_for('single_standard_post') }}">Create Meaningful Family Moments.</a></h1>

                <div class="item-entry__date">
                    <a href="{{ url_for('single_standard_post') }}">June 02, 2018</a>
                </div>
            </div>
        </div> <!-- item-entry -->

    </article> <!-- end article -->

    <article class="col-block">

        <div class="item-entry" data-aos="zoom-in">
            <div class="item-entry__thumb">
                <a href="{{ url_for('single_standard_post') }}" class="item-entry__thumb-link">
                    <img src="{{ url_for('static', filename='images/thumbs/post/flowers-400.jpg.webp') }}"
                         srcset="{{ url_for('static', filename='images/thumbs/post/flowers-400.jpg.webp') }} 1x, {{ url_for('static', filename='images/thumbs/post/flowers-800.jpg.webp') }} 2x" alt="">
                </a>
            </div>

            <div class="item-entry__text">
                <div class="item-entry__cat">
                    <a href="{{ url_for('category') }}">Lifestyle</a>
                </div>

                <h1 class="item-entry__title"><a href="{{ url_for('single_standard_post') }}">Gardening: The Secret to Happiness.</a></h1>

                <div class="item-entry__date">
                    <a href="{{ url_for('single_standard_post') }}">June 01, 2018</a>
                </div>
            </div>
        </div> <!-- item-entry -->

    </article> <!-- end article -->

    <article class="col-block">

        <div class="item-entry" data-aos="zoom-in">
            <div class="item-entry__thumb">
                <a href="{{ url_for('single_standard_post') }}" class="item-entry__thumb-link">
                    <img src="{{ url_for('static', filename='images/thumbs/post/woodcraft-400.jpg.webp') }}"
                         srcset="{{ url_for('static', filename='images/thumbs/post/woodcraft-400.jpg.webp') }} 1x, {{ url_for('static', filename='images/thumbs/post/woodcraft-800.jpg.webp') }} 2x" alt="">
                </a>
            </div>

            <div class="item-entry__text">
                <div class="item-entry__cat">
                    <a href="{{ url_for('category') }}">Creativity</a>
                </div>

                <h1 class="item-entry__title"><a href="{{ url_for('single_standard_post') }}">An Examination of Minimalistic Design.</a></h1>

                <div class="item-entry__date">
                    <a href="{{ url_for('single_standard_post') }}">May 30, 2018</a>
                </div>
            </div>
        </div> <!-- item-entry -->

    </article> <!-- end article -->

    <article class="col-block">

        <div class="item-entry" data-aos="zoom-in">
            <div class="item-entry__thumb">
                <a href="{{ url_for('single_standard_post') }}" class="item-entry__thumb-link">
                    <img src="{{ url_for('static', filename='images/thumbs/post/fuji-400.jpg.webp') }}"
                         srcset="{{ url_for('static', filename='images/thumbs/post/fuji-400.jpg.webp') }} 1x, {{ url_for('static', filename='images/thumbs/post/fuji-800.jpg.webp') }} 2x" alt="">
                </a>
            </div>

            <div class="item-entry__text">
                <div class="item-entry__cat">
                    <a href="{{ url_for('category') }}">Creativity</a>
                </div>

                <h1 class="item-entry__title"><a href="{{ url_for('single_standard_post') }}">What Skills Are Required For a Photographer?</a></h1>

                <div class="item-entry__date">
                    <a href="{{ url_for('single_standard_post') }}">May 30, 2018</a>
                </div>
            </div>
        </div> <!-- item-entry -->

    </article> <!-- end article -->

    <article class="col-block">

        <div class="item-entry" data-aos="zoom-in">
            <div class="item-entry__thumb">
                <a href="{{ url_for('single_standard_post') }}" class="item-entry__thumb-link">
                    <img src="{{ url_for('static', filename='images/thumbs/post/beetle-400.jpg.webp') }}"
                         srcset="{{ url_for('static', filename='images/thumbs/post/beetle-400.jpg.webp') }} 1x, {{ url_for('static', filename='images/thumbs/post/beetle-800.jpg.webp') }} 2x" alt="">
                </a>
            </div>

            <div class="item-entry__text">
                <div class="item-entry__cat">
                    <a href="{{ url_for('category') }}">Lifestyle</a>
                </div>

                <h1 class="item-entry__title"><a href="{{ url_for('single_standard_post') }}">Throwback To The Good Old Days.</a></h1>

                <div class="item-entry__date">
                    <a href="{{ url_for('single_standard_post') }}">May 28, 2018</a>
                </div>
            </div>
        </div> <!-- item-entry -->

    </article> <!-- end article -->

    <article class="col-block">

        <div class="item-entry" data-aos="zoom-in">
            <div class="item-entry__thumb">
                <a href="{{ url_for('single_standard_post') }}" class="item-entry__thumb-link">
                    <img src="{{ url_for('static', filename='images/thumbs/post/sydney-400.jpg.webp') }}"
                         srcset="{{ url_for('static', filename='images/thumbs/post/sydney-400.jpg.webp') }} 1x, {{ url_for('static', filename='images/thumbs/post/sydney-800.jpg.webp') }} 2x" alt="">
                </a>
            </div>

            <div class="item-entry__text">
                <div class="item-entry__cat">
                    <a href="{{ url_for('category') }}">Travel</a>
                </div>

                <h1 class="item-entry__title"><a href="{{ url_for('single_standard_post') }}">Planning Your First Trip To Sydney.</a></h1>

                <div class="item-entry__date">
                    <a href="{{ url_for('single_standard_post') }}">May 28, 2018</a>
                </div>
            </div>
        </div> <!-- item-entry -->

    </article> <!-- end article -->#}

</div> <!-- end entries -->
