{% extends 'base.html' %}

{% block title %}Category - Wordsmith{% endblock title %}

{% block content %}

    <!-- s-content
    ================================================== -->
    <section class="s-content s-content--top-padding">

        <div class="row narrow">
            <div class="col-full s-content__header" data-aos="fade-up">
                <h1 class="display-1 display-1--with-line-sep">Category: Lifestyle</h1>
                <p class="lead">Dolor similique vitae. Exercitationem quidem occaecati iusto. Id non vitae enim quas error dolor maiores ut. Exercitationem earum ut repudiandae optio veritatis animi nulla qui dolores.</p>
            </div>
        </div>
        
        <div class="row entries-wrap add-top-padding wide">
            {% include 'partials/entries.html' %}
        </div> <!-- end entries-wrap -->

        {% include 'partials/pagination.html' %}

    </section> <!-- end s-content -->


    {% include 'partials/extra.html' %}

{% endblock content %}

